h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	font-family:"Helvetica";
	text-align:left;}

p{
	font-size: 18px;
	padding-bottom: 15px;}
	
h2{
	color: #2288bb;
	font-size: 28px;
	text-decoration: none;
	padding-bottom: 5px;
}
h3 a{
	color: black;
	font-size: 24px;
	text-decoration: none;
}
h4{
	color: gray;
	font-size: 14px;
	padding-bottom: 5px;}

ul li{
	font-size: 18px;
	font-family:"Helvetica";
}

ol li{
	font-size: 18px;
	font-family:"Helvetica";
}

.title{
	color: white;
}
