h1, h2, h3, h4, h5, h6{
margin:0px;
font-family:"Open Sans", sans-serif;
text-align:left;
padding-top:10px;}

p{
margin:0px;
font-family:"Open Sans", sans-serif;
text-align:left;
}

h1{
padding-top:10px;
}

h3{font-size:24px;}

h3 a{
font-size: 24px;
text-decoration: none;}

h4{
color: gray;
font-size: 14px;}

ul li{
font-size: 18px;
font-family:"Helvetica";
}

ol li{
font-size: 18px;
font-family:"Helvetica";
}

.title{
color: white;
}


nav{
display: block;
background: black;
padding-top: 5px;
padding-bottom: 5px;}
	
body{
margin: 0px;
padding: 0;}

section{padding-top:20px;}
article{}
img{	width:100%;}

header{
        padding-top:20px;
        padding-bottom:20px;
        background: #222;}

#container{
	margin-left: auto;
	margin-right: auto;
	padding-left: 1rem;
	padding-right: 1rem;}
	
.fixed{ position:fixed;}

.page{
display: block;
}

ul.top_level{
margin: 0px;
padding-left: 0px;
}

ul.top_level li{
display: inline;
padding-right: 10px;
}

ul.top_level li a{
color:white;
font-family:"Helvetica";
height:100%;
position:relative;
text-decoration:none;
text-transform:uppercase;
}

.postbox{
max-width:45em; 
font-size:medium;}	

.postbox p{
text-align:justify;}
	
@media (min-width : 32em){
#excerpt{font-size:0.9rem;}
.postbox p{font-size:1rem;}
.postbox h1{font-size:2rem;}
.postbox h2{font-size:1.5rem;}
.postbox h3{font-size:1.33rem;}
.wide{padding-left:5%; padding-right:5%; width:90%} 
}

@media (min-width : 45em){
#excerpt{font-size:1rem;}}
.postbox p{font-size:1.2rem;}
.postbox h1{font-size:2.4rem;}
.postbox h2{font-size:1.5rem;}
.postbox h3{font-size:1.6rem;}
.wide{padding-left:10%; padding-right:10%; width:80%;}
}

@media (min-width : 80em){
#excerpt{font-size:1.3rem;}
.postbox p{font-size:1.5rem;}
.postbox h1{font-size:3rem;}
.postbox h2{font-size:1.5rem;}
.postbox h3{font-size:2rem;}
.wide{padding-left:15%; padding-right:15%; width:70%;}
}
